form {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 32%;
    margin: 80px auto;
  }
  
  input,
  textarea {
    width: 90%;
  }
  
  label {
    margin-top: 10px;
  }
  
  button {
    margin: 10px auto;
    width: 80px;
  }